extends layout

block content
  .jumbotron
    .container
      h1 Welcome
      p
        | This is a simple GUI for PartFinder, a self-promoted project work for ASE-6050 Software Components and Services in Automation course.
      p
        a.btn.btn-primary.btn-lg(href='/parts', role='button') Go to parts »
