doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/main.js')
    block header
  body
    div.container
      nav.navbar.navbar-default
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/') PartFinder
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
              li
                a(href='/') Home
              li
                a(href='/parts') Parts
              li
                a(href='/users') Users
              li
                a(href='/statuses') Status
      block content
    block footer
