extends layout

block header
  link(rel='stylesheet', href='/stylesheets/select2.min.css')
  link(rel='stylesheet', href='/stylesheets/select2-bootstrap.min.css')

block footer
  script(src='/javascripts/select2.min.js')
  script(src='/javascripts/moment-with-locales.min.js')
  script(src='/javascripts/parts_detail.js')

block content
  div.jumbotron.jumbotron-smaller
    div.row
      div.col-sm-2.col-xs-5
        h3 #{part.part_no}
      div.col-xs-6
        p.h3 #{part.description}
    div.row
      div.col-xs-12
        select#status(name='status', data-initial-value='#{part.status}')
          option(value='#{part.status}') #{part.status}
        p#status_helpblock.help-block.hidden
    strong RFID: 
      em #{part.rfid}
  div.panel.panel-primary#comments_header
    div.panel-heading
      h4.panel-title Comments
    div.panel-body
      div.widget.medium#comments_container
    div.panel-footer
      form#comments_new_form(role='form', data-part-no='#{part.part_no}')
        div.row
          div.col-sm-3
            .form-group.has-feedback
              select#username.form-control(name='username')
              p#username_helpblock.help-block.hidden
          div.col-sm-9
            .form-group.has-feedback.pull-right
              div.input-group
                input#content.form-control(type='text', name='content', placeholder='Enter comment', aria-described='basicaddon')
                span.input-group-btn
                  button.btn.btn-default.pull-right#comments_new_submit
                    i.fa.fa-paper-plane
              p#content_helpblock.help-block.hidden
                
