extends layout
block header
  link(rel='stylesheet', href='/stylesheets/select2.min.css')
  link(rel='stylesheet', href='/stylesheets/select2-bootstrap.min.css')

block footer
  script(src='/javascripts/select2.min.js')
  script(src='/javascripts/parts_list.js')
  
block content
  div.row
    div.col-sm-8
      div.panel.panel-info#parts_listing_header
        div.panel-heading
          h4.panel-title Part listing
        div.panel-body
          table.table.table-striped.table-hover#parts_listing_table
            thead
              tr
                th.col-sm-1(nowrap) Part No
                th Description
                th.col-sm-2 Status
                th.col-sm-1
                  i.fa.fa-comments-o.fa-2x
            tbody      
    div.col-sm-4
      div.panel.panel-primary#parts_new_header
        div.panel-heading
          h4.panel-title Add new
        div.panel-body
          form#parts_new_form(role='form', method='post', action='/api/parts')
            .form-group.has-feedback
              label.control-label(for='part_no') Part No:
              input#part_no.form-control(type='text', name='part_no', placeholder='Enter part no')
              p#part_no_helpblock.help-block.hidden
            .form-group.has-feedback
              label.control-label(for='description') Description:
              textarea#description.form-control(row='3', name='description', placeholder='Enter description')
              p#description_helpblock.help-block.hidden
            .form-group.has-feedback
              label.control-label(for='rfid') RFID:
              textarea#rfid.form-control(row='2', name='rfid', placeholder='Enter RFID-tag')
              p#rfid_helpblock.help-block.hidden
            .form-group.has-feedback
              label.control-label(for='status') Status:
              select#status.form-control(name='status')
              p#status_helpblock.help-block.hidden
        div.panel-footer.clearfix
              button.btn.btn-default.pull-right#parts_new_submit(type='submit') Submit
