extends layout

block footer
  script(src='/javascripts/statuses_list.js')

block content
  div.row
    div.col-sm-8
      div.panel.panel-info#statuses_listing_header
        div.panel-heading
          h4.panel-title User listing
        div.panel-body
          table.table.table-striped.table-hover#statuses_listing_table
            thead
              tr
                th Code
                th Description
            tbody
    div.col-sm-4
      div.panel.panel-primary#statuses_new_header
        div.panel-heading
          h4.panel-title Add new
        div.panel-body
          form#statuses_new_form(role='form')
            .form-group.has-feedback
              label.control-label(for='code') Code:
              input#code.form-control(type='text', name='code', placeholder='Enter code')
              p#code_helpblock.help-block.hidden
            .form-group.has-feedback
              label.control-label(for='description') Description:
              textarea#description.form-control(row='2', name='description', placeholder='Enter description')
              p#description_helpblock.help-block.hidden
        div.panel-footer.clearfix
            button.btn.btn-default.pull-right#statuses_new_submit(type='submit') Submit
