extends layout

block footer
  script(src='/javascripts/users_list.js')

block content
  div.row
    div.col-sm-8
      div.panel.panel-info#users_listing_header
        div.panel-heading
          h4.panel-title User listing
        div.panel-body
          table.table.table-striped.table-hover#users_listing_table
            thead
              tr
                th Username
                th First name
                th Last name
                th Email
            tbody
    div.col-sm-4
      div.panel.panel-primary#users_new_header
        div.panel-heading
          h4.panel-title Add new
        div.panel-body
          form#users_new_form(role='form', method='post', action='/api/users')
            .form-group.has-feedback
              label.control-label(for='Username') Username:
              input#username.form-control(type='text', name='username', placeholder='Enter username')
              p#username_helpblock.help-block.hidden
            .form-group.has-feedback
              label.control-label(for='first_name') First name:
              input#first_name.form-control(type='text', name='first_name', placeholder='Enter first name')
              p#first_name_helpblock.help-block.hidden
            .form-group.has-feedback
              label.control-label(for='last_name') Last name:
              input#last_name.form-control(type='text', name='last_name', placeholder='Enter last name')
              p#last_name_helpblock.help-block.hidden
            .form-group.has-feedback
              label.control-label(for='email') Email:
              input#email.form-control(type='email', name='email', placeholder='Enter email')
              p#email_helpblock.help-block.hidden
        div.panel-footer.clearfix
            button.btn.btn-default.pull-right#users_new_submit(type='submit') Submit
