body {
  padding: 20px;
}

a {
  color: #00B7FF;
}

.jumbotron-smaller{
  padding: 0.5em 0.6em
}

.td> a.center-aligned {
  text-align: center;
}

.widget {
  overflow-y: scroll;
}

.widget.large {
  height: 315px;
}

.widget.medium {
  height: 215px;
}

.widget.small {
  height: 115px;
}

.comment-container+.comment-container {
  margin-top: 10px;
  /*margin-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;*/
  display: block;
  width: 100%;
}

.comment-user {
  float: left !important;
}

.comment-user.icon {
  text-align: center;
}

.comment-content {
  border-style: solid;
  border-color: rgba(51,51,51,0.4);
  border-radius: 4px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 48px;
  word-break:break-all;
}

.comment-author {
  /*float: right !important;*/
}

.comment-created {
  float: right !important;
  display: inline-block;
  font-style: oblique;
  font-size: 8pt;
  color: #8c8c8c;
}
